@import "mixin";
@import "variabels";

//wrapper styling
.wrapper {
  @extend .nopm;
  @extend .tole;
  background: $color4;
  z-index: 1;
  position: relative;
}

//html styling
html {
  @extend .wrapper;
}

//boody styling
body {
  @extend .wrapper;
  font-family: 'Lato', sans-serif;
}

//section style
section {
  @extend .nopm;
  @extend .tole;
  z-index: 2;
  position: relative;
}

//no margin
.nom{
  margin: $no;
}
//no padding
.nop{
  padding: $no;
}

//no padding no margin
.nopm {
  @extend .nop;
  @extend .nom;
}

//top left
.tole {
  top: $no;
  left: $no;
}

//full with
.fullw{
  width: $full !important;
}

//full height
.fullh{
  height: $full !important;
}

//full height and full with combined
.full_size{
  @extend .fullh;
  @extend .fullw;
}

.center_vertically_css {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// Center horizonatally css
.center_horizontally_css {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

// Center css
.center_css {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}

//index header btn
.btn{
  position: absolute;
  height: 5vh;
  width:10vw;
  border: solid $white 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 4vh;
  a{
    color: $white;
    text-decoration: none;
    font-size: 1vw;
  }
  &:hover{
    background: $color1;
    transition: 0.8s;
    border: 0;
    a{
      text-decoration: none;
    }
  }
}