@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900i);
.wrapper, html, body {
  background: #ffffff;
  z-index: 1;
  position: relative; }

body {
  font-family: 'Lato', sans-serif; }

section {
  z-index: 2;
  position: relative; }

.nom, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1, .i_products .i_products_container, .i_products .i_products_container .i_products, .i_contact .i_contact_container, .pe_header, .pe_header .pe_header_container, .pe_header .pe_header_container .pe_header_bg {
  margin: 0 !important; }

.nop, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1, .i_products .i_products_container, .i_products .i_products_container .i_products, .i_contact .i_contact_container, .pe_header, .pe_header .pe_header_container, .pe_header .pe_header_container .pe_header_bg {
  padding: 0 !important; }

.tole, .wrapper, html, body, section, .background_image_container, .background_image_container img {
  top: 0 !important;
  left: 0 !important; }

.fullw, .full_size, .background_image_container, .background_image_container img, .slider_list_container, .slider_dots_container, .image, .add_product_form input, .add_product_form .short_description, .add_product_form .long_description, .admin_list_container {
  width: 100% !important; }

.fullh, .full_size, .background_image_container, .background_image_container img {
  height: 100% !important; }

.center_vertically_css {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.center_horizontally_css {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.center_css {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%); }

.slider_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order {
  position: absolute;
  bottom: 2.5vw; }
  .slider_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order p {
    color: transparent;
    background-color: transparent;
    height: 12vh;
    width: 17vw;
    margin-bottom: -0.1vh;
    text-align: center;
    padding: 1vw;
    font-size: 1vw; }
  .slider_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order button {
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    width: 12vw;
    height: 4.5vh; }
  .slider_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr:hover p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order:hover p {
    color: #ffffff;
    background: rgba(21, 54, 255, 0.8);
    transition: 1s; }
  .slider_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr:hover button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order:hover button {
    background: #1536ff;
    border: 0;
    transition: 0.5s; }

.wrapper, html, body {
  background: #ffffff;
  z-index: 1;
  position: relative; }

body {
  font-family: 'Lato', sans-serif; }

section {
  z-index: 2;
  position: relative; }

.nom, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1, .i_products .i_products_container, .i_products .i_products_container .i_products, .i_contact .i_contact_container, .pe_header, .pe_header .pe_header_container, .pe_header .pe_header_container .pe_header_bg {
  margin: 0 !important; }

.nop, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1, .i_products .i_products_container, .i_products .i_products_container .i_products, .i_contact .i_contact_container, .pe_header, .pe_header .pe_header_container, .pe_header .pe_header_container .pe_header_bg {
  padding: 0 !important; }

.tole, .wrapper, html, body, section, .background_image_container, .background_image_container img {
  top: 0 !important;
  left: 0 !important; }

.fullw, .full_size, .background_image_container, .background_image_container img, .slider_list_container, .slider_dots_container, .image, .add_product_form input, .add_product_form .short_description, .add_product_form .long_description, .admin_list_container {
  width: 100% !important; }

.fullh, .full_size, .background_image_container, .background_image_container img {
  height: 100% !important; }

.center_vertically_css {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.center_horizontally_css {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.center_css {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%); }

.slider_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order {
  position: absolute;
  bottom: 2.5vw; }
  .slider_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order p {
    color: transparent;
    background-color: transparent;
    height: 12vh;
    width: 17vw;
    margin-bottom: -0.1vh;
    text-align: center;
    padding: 1vw;
    font-size: 1vw; }
  .slider_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order button {
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    width: 12vw;
    height: 4.5vh; }
  .slider_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr:hover p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order:hover p {
    color: #ffffff;
    background: rgba(21, 54, 255, 0.8);
    transition: 1s; }
  .slider_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr:hover button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order:hover button {
    background: #1536ff;
    border: 0;
    transition: 0.5s; }

.footer {
  background: #1e1e1e;
  height: 50vh; }
  .footer .footer_container .footer_left h2 {
    text-align: center;
    color: #c3c3c3;
    font-size: 2.5vw;
    font-weight: 400; }
  .footer .footer_container .footer_left a {
    margin-left: 2vw;
    display: block;
    color: #c3c3c3;
    font-size: 1.3vw;
    font-weight: 300;
    text-decoration: none; }
    .footer .footer_container .footer_left a:hover {
      color: #ffffff; }

.wrapper, html, body {
  background: #ffffff;
  z-index: 1;
  position: relative; }

body {
  font-family: 'Lato', sans-serif; }

section {
  z-index: 2;
  position: relative; }

.nom, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1, .i_products .i_products_container, .i_products .i_products_container .i_products, .i_contact .i_contact_container, .pe_header, .pe_header .pe_header_container, .pe_header .pe_header_container .pe_header_bg {
  margin: 0 !important; }

.nop, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1, .i_products .i_products_container, .i_products .i_products_container .i_products, .i_contact .i_contact_container, .pe_header, .pe_header .pe_header_container, .pe_header .pe_header_container .pe_header_bg {
  padding: 0 !important; }

.tole, .wrapper, html, body, section, .background_image_container, .background_image_container img {
  top: 0 !important;
  left: 0 !important; }

.fullw, .full_size, .background_image_container, .background_image_container img, .slider_list_container, .slider_dots_container, .image, .add_product_form input, .add_product_form .short_description, .add_product_form .long_description, .admin_list_container {
  width: 100% !important; }

.fullh, .full_size, .background_image_container, .background_image_container img {
  height: 100% !important; }

.center_vertically_css {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.center_horizontally_css {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.center_css {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%); }

.slider_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order {
  position: absolute;
  bottom: 2.5vw; }
  .slider_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order p {
    color: transparent;
    background-color: transparent;
    height: 12vh;
    width: 17vw;
    margin-bottom: -0.1vh;
    text-align: center;
    padding: 1vw;
    font-size: 1vw; }
  .slider_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order button {
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    width: 12vw;
    height: 4.5vh; }
  .slider_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr:hover p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order:hover p {
    color: #ffffff;
    background: rgba(21, 54, 255, 0.8);
    transition: 1s; }
  .slider_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr:hover button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order:hover button {
    background: #1536ff;
    border: 0;
    transition: 0.5s; }

.nav_d {
  right: 0;
  top: 0;
  background: #2b2b2b;
  color: #ffffff;
  position: fixed;
  height: 100vh;
  z-index: 10000; }
  .nav_d .nav_d_container .nav_cart {
    display: flex; }
    .nav_d .nav_d_container .nav_cart i {
      font-size: 10vw; }
  .nav_d .nav_d_container .nav_d_logo {
    position: absolute;
    height: 30vh;
    width: 30vh; }
    .nav_d .nav_d_container .nav_d_logo a {
      height: 100%;
      width: 100%; }
  .nav_d .nav_d_container .nav_d_link {
    position: absolute;
    right: 0;
    text-align: right;
    position: absolut;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .nav_d .nav_d_container .nav_d_link a {
      display: block;
      margin-right: 1.2vw;
      color: #c3c3c3;
      font-size: 1.2vw; }
      .nav_d .nav_d_container .nav_d_link a:hover {
        color: white;
        text-decoration: none; }
      .nav_d .nav_d_container .nav_d_link a:active {
        color: #ffffff; }

::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.5);
  width: 10px; }

::-webkit-scrollbar-track {
  webkit-box-shadow: inset 0 0 5px black;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5); }

.wrapper, html, body {
  background: #ffffff;
  z-index: 1;
  position: relative; }

body {
  font-family: 'Lato', sans-serif; }

section {
  z-index: 2;
  position: relative; }

.nom, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1, .i_products .i_products_container, .i_products .i_products_container .i_products, .i_contact .i_contact_container, .pe_header, .pe_header .pe_header_container, .pe_header .pe_header_container .pe_header_bg {
  margin: 0 !important; }

.nop, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1, .i_products .i_products_container, .i_products .i_products_container .i_products, .i_contact .i_contact_container, .pe_header, .pe_header .pe_header_container, .pe_header .pe_header_container .pe_header_bg {
  padding: 0 !important; }

.tole, .wrapper, html, body, section, .background_image_container, .background_image_container img {
  top: 0 !important;
  left: 0 !important; }

.fullw, .full_size, .background_image_container, .background_image_container img, .slider_list_container, .slider_dots_container, .image, .add_product_form input, .add_product_form .short_description, .add_product_form .long_description, .admin_list_container {
  width: 100% !important; }

.fullh, .full_size, .background_image_container, .background_image_container img {
  height: 100% !important; }

.center_vertically_css {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.center_horizontally_css {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.center_css {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%); }

.slider_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order {
  position: absolute;
  bottom: 2.5vw; }
  .slider_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order p {
    color: transparent;
    background-color: transparent;
    height: 12vh;
    width: 17vw;
    margin-bottom: -0.1vh;
    text-align: center;
    padding: 1vw;
    font-size: 1vw; }
  .slider_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order button {
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    width: 12vw;
    height: 4.5vh; }
  .slider_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr:hover p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order:hover p {
    color: #ffffff;
    background: rgba(21, 54, 255, 0.8);
    transition: 1s; }
  .slider_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr:hover button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order:hover button {
    background: #1536ff;
    border: 0;
    transition: 0.5s; }

.slider_arrow {
  position: absolute;
  width: 5%;
  height: 10%;
  top: 50%;
  cursor: pointer; }

.slider_arrow:hover {
  background: rgba(74, 69, 68, 0.3);
  transition: 0.7s; }

.slider_arrow_right {
  right: 0; }

.slider_arrow_left {
  left: 0; }

.all_slider_container {
  overflow: hidden;
  visibility: hidden;
  /* Section slider is hidden until it's finished initalizing with JS*/
  height: 100%; }

.slider_list_object {
  height: 100%;
  float: left;
  background: #C4C4C4; }

.slider_page {
  color: #000000 !important;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0 !important;
  margin-right: 0 !important;
  margin-top: -100vh;
  display: block; }

.slider_page p {
  text-align: left; }

.slider_page:first-child {
  margin-top: 0; }

.slider_list_container {
  position: absolute;
  bottom: 0;
  height: 7%; }

.slider_dots_container {
  position: absolute;
  height: 0.7vh;
  width: 0.7vw;
  bottom: 5vh; }

.inner_dots_container {
  float: left;
  background: none;
  background-color: transparent !important; }

.slider_dot {
  width: 1.5vw;
  height: 1.5vh;
  float: left;
  border-radius: 50%;
  border: 4px solid;
  cursor: pointer;
  margin: 0; }

.padding_sides {
  padding-left: 10% !important;
  padding-right: 10% !important; }

.side_image {
  max-height: 60%;
  width: auto;
  max-width: 90%; }

.background_image_container, .background_image_container img {
  position: absolute; }

.image {
  min-height: 100%;
  z-index: 100;
  background: #2b2b2b; }

.wrapper, html, body {
  background: #ffffff;
  z-index: 1;
  position: relative; }

body {
  font-family: 'Lato', sans-serif; }

section {
  z-index: 2;
  position: relative; }

.nom, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1, .i_products .i_products_container, .i_products .i_products_container .i_products, .i_contact .i_contact_container, .pe_header, .pe_header .pe_header_container, .pe_header .pe_header_container .pe_header_bg {
  margin: 0 !important; }

.nop, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1, .i_products .i_products_container, .i_products .i_products_container .i_products, .i_contact .i_contact_container, .pe_header, .pe_header .pe_header_container, .pe_header .pe_header_container .pe_header_bg {
  padding: 0 !important; }

.tole, .wrapper, html, body, section, .background_image_container, .background_image_container img {
  top: 0 !important;
  left: 0 !important; }

.fullw, .full_size, .background_image_container, .background_image_container img, .slider_list_container, .slider_dots_container, .image, .add_product_form input, .add_product_form .short_description, .add_product_form .long_description, .admin_list_container {
  width: 100% !important; }

.fullh, .full_size, .background_image_container, .background_image_container img {
  height: 100% !important; }

.center_vertically_css {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.center_horizontally_css {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.center_css {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%); }

.slider_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order {
  position: absolute;
  bottom: 2.5vw; }
  .slider_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order p {
    color: transparent;
    background-color: transparent;
    height: 12vh;
    width: 17vw;
    margin-bottom: -0.1vh;
    text-align: center;
    padding: 1vw;
    font-size: 1vw; }
  .slider_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order button {
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    width: 12vw;
    height: 4.5vh; }
  .slider_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr:hover p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order:hover p {
    color: #ffffff;
    background: rgba(21, 54, 255, 0.8);
    transition: 1s; }
  .slider_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr:hover button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order:hover button {
    background: #1536ff;
    border: 0;
    transition: 0.5s; }

.wrapper, html, body {
  background: #ffffff;
  z-index: 1;
  position: relative; }

body {
  font-family: 'Lato', sans-serif; }

section {
  z-index: 2;
  position: relative; }

.nom, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1, .i_products .i_products_container, .i_products .i_products_container .i_products, .i_contact .i_contact_container, .pe_header, .pe_header .pe_header_container, .pe_header .pe_header_container .pe_header_bg {
  margin: 0 !important; }

.nop, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1, .i_products .i_products_container, .i_products .i_products_container .i_products, .i_contact .i_contact_container, .pe_header, .pe_header .pe_header_container, .pe_header .pe_header_container .pe_header_bg {
  padding: 0 !important; }

.tole, .wrapper, html, body, section, .background_image_container, .background_image_container img {
  top: 0 !important;
  left: 0 !important; }

.fullw, .full_size, .background_image_container, .background_image_container img, .slider_list_container, .slider_dots_container, .image, .add_product_form input, .add_product_form .short_description, .add_product_form .long_description, .admin_list_container {
  width: 100% !important; }

.fullh, .full_size, .background_image_container, .background_image_container img {
  height: 100% !important; }

.center_vertically_css {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.center_horizontally_css {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.center_css {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%); }

.slider_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order {
  position: absolute;
  bottom: 2.5vw; }
  .slider_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order p {
    color: transparent;
    background-color: transparent;
    height: 12vh;
    width: 17vw;
    margin-bottom: -0.1vh;
    text-align: center;
    padding: 1vw;
    font-size: 1vw; }
  .slider_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order button {
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    width: 12vw;
    height: 4.5vh; }
  .slider_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr:hover p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order:hover p {
    color: #ffffff;
    background: rgba(21, 54, 255, 0.8);
    transition: 1s; }
  .slider_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr:hover button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order:hover button {
    background: #1536ff;
    border: 0;
    transition: 0.5s; }

.edit {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  background: rgba(30, 30, 30, 0.5); }
  .edit .edit_container {
    margin: auto;
    height: 60vh;
    width: 40vw;
    background: #fff;
    border-radius: 5%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .edit .edit_container h1 {
      text-align: center;
      padding-top: 3vh;
      text-transform: uppercase;
      font-size: 2vw; }

.wrapper, html, body {
  background: #ffffff;
  z-index: 1;
  position: relative; }

body {
  font-family: 'Lato', sans-serif; }

section {
  z-index: 2;
  position: relative; }

.nom, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1, .i_products .i_products_container, .i_products .i_products_container .i_products, .i_contact .i_contact_container, .pe_header, .pe_header .pe_header_container, .pe_header .pe_header_container .pe_header_bg {
  margin: 0 !important; }

.nop, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1, .i_products .i_products_container, .i_products .i_products_container .i_products, .i_contact .i_contact_container, .pe_header, .pe_header .pe_header_container, .pe_header .pe_header_container .pe_header_bg {
  padding: 0 !important; }

.tole, .wrapper, html, body, section, .background_image_container, .background_image_container img {
  top: 0 !important;
  left: 0 !important; }

.fullw, .full_size, .background_image_container, .background_image_container img, .slider_list_container, .slider_dots_container, .image, .add_product_form input, .add_product_form .short_description, .add_product_form .long_description, .admin_list_container {
  width: 100% !important; }

.fullh, .full_size, .background_image_container, .background_image_container img {
  height: 100% !important; }

.center_vertically_css {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.center_horizontally_css {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.center_css {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%); }

.slider_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order {
  position: absolute;
  bottom: 2.5vw; }
  .slider_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order p {
    color: transparent;
    background-color: transparent;
    height: 12vh;
    width: 17vw;
    margin-bottom: -0.1vh;
    text-align: center;
    padding: 1vw;
    font-size: 1vw; }
  .slider_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order button {
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    width: 12vw;
    height: 4.5vh; }
  .slider_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr:hover p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order:hover p {
    color: #ffffff;
    background: rgba(21, 54, 255, 0.8);
    transition: 1s; }
  .slider_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr:hover button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order:hover button {
    background: #1536ff;
    border: 0;
    transition: 0.5s; }

.i_header {
  height: 100vh;
  z-index: 4;
  background: #1e1e1e; }
  .i_header .i_header_container {
    height: 100vh; }
    .i_header .i_header_container .i_header_slider {
      height: 100vh; }
      .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container {
        height: 100vh; }
        .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_text {
          position: absolute;
          color: #ffffff;
          background: transparent;
          z-index: 101;
          text-align: center;
          margin-top: 35vh;
          width: 100%; }
          .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_text h1 {
            font-size: 8vw;
            font-weight: 600;
            text-transform: uppercase; }
        .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left {
          height: 100vh;
          background: #b0b0b0; }
          .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_img {
            right: 0;
            position: absolute;
            top: 15vh; }
            .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_img img {
              width: 15vw;
              height: 60vh; }
          .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn {
            left: 5vw;
            float: left; }
        .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right {
          height: 100vh;
          background: #c2c2c2; }
          .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_img {
            left: 0;
            position: absolute;
            top: 15vh; }
            .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_img img {
              width: 15vw;
              height: 60vh; }
          .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn {
            right: 5vw; }
            .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn button {
              float: right; }

.i_info {
  min-height: 50vh;
  background: #212121; }
  .i_info .i_info_container {
    text-align: center; }
    .i_info .i_info_container h2 {
      color: #ffffff;
      font-size: 3vw;
      font-weight: 400;
      margin-top: 8vh; }
    .i_info .i_info_container p {
      color: #ffffff;
      vertical-align: middle;
      font-size: 1.5vw;
      font-weight: 200; }
    .i_info .i_info_container a {
      margin-top: 5vh; }

.i_products {
  min-height: 60vh;
  background: #212121; }
  .i_products .i_products_container {
    overflow: hidden; }
    .i_products .i_products_container .i_products h2 {
      text-align: center;
      vertical-align: middle;
      line-height: 15vh;
      font-size: 2.5vw;
      font-weight: 600;
      color: #ffffff;
      width: 100%;
      height: 15vh;
      background: #1e1e1e;
      text-transform: uppercase; }
    .i_products .i_products_container .i_products .i_products_arrow_l, .i_products .i_products_container .i_products .i_products_arrow_r {
      position: absolute;
      height: 10vh;
      width: 10vh;
      z-index: 100;
      background: transparent;
      top: 35vh;
      cursor: pointer; }
      .i_products .i_products_container .i_products .i_products_arrow_l:hover, .i_products .i_products_container .i_products .i_products_arrow_r:hover {
        background: rgba(30, 30, 30, 0.2);
        transition: 0.5s; }
    .i_products .i_products_container .i_products .i_products_arrow_r {
      right: 0; }
    .i_products .i_products_container .i_products .i_products_btn {
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 100;
      border: 2px solid #ffffff;
      color: #ffffff;
      background-color: transparent;
      text-align: center;
      text-decoration: none;
      font-size: 1.2vw;
      width: 12vw;
      height: 4.5vh; }
      .i_products .i_products_container .i_products .i_products_btn:hover {
        background: #1536ff;
        border: 0;
        transition: 0.5s; }
    .i_products .i_products_container .i_products .i_products_sliders {
      background: #ababab;
      height: 50vh;
      margin-top: -1vh;
      position: absolute; }
      .i_products .i_products_container .i_products .i_products_sliders a img {
        margin-top: 6vh;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 18vw;
        height: 18vw; }
      .i_products .i_products_container .i_products .i_products_sliders a .i_products_sliders_text {
        position: absolute;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        color: transparent;
        margin-top: -10vh;
        width: 20vw;
        height: 20vh; }
        .i_products .i_products_container .i_products .i_products_sliders a .i_products_sliders_text h1 {
          text-align: center;
          font-size: 2vw;
          font-weight: 400; }
        .i_products .i_products_container .i_products .i_products_sliders a .i_products_sliders_text p {
          text-align: center;
          font-size: 1vw;
          font-weight: 300; }
      .i_products .i_products_container .i_products .i_products_sliders:hover a img {
        opacity: 0.5;
        transition: 0.3s; }
      .i_products .i_products_container .i_products .i_products_sliders:hover a .i_products_sliders_text {
        color: #ffffff;
        transition: 0.5s;
        background: #1536ff; }
      .i_products .i_products_container .i_products .i_products_sliders:nth-child(3) {
        background: #9e9e9e; }
      .i_products .i_products_container .i_products .i_products_sliders:nth-child(4) {
        background: #919191; }

.i_contact {
  min-height: 50vh;
  background: #212121; }
  .i_contact .i_contact_container .i_contact_text_top {
    width: 100%;
    height: 15vh;
    background: #1e1e1e;
    text-align: center;
    margin: 0 !important; }
    .i_contact .i_contact_container .i_contact_text_top h2 {
      color: #ffffff;
      line-height: 10vh;
      font-size: 2.5vw;
      text-transform: uppercase; }
  .i_contact .i_contact_container img {
    border-radius: 50%;
    margin-top: 10vh; }
  .i_contact .i_contact_container .i_contact_text {
    color: #ffffff;
    text-align: center;
    margin-bottom: 10vh; }
    .i_contact .i_contact_container .i_contact_text h2 {
      font-size: 2.3vw;
      font-weight: 600; }
    .i_contact .i_contact_container .i_contact_text p {
      font-size: 1.5vw;
      font-weight: 100; }

.i_media {
  background: #000;
  min-height: 100vh; }

.wrapper, html, body {
  background: #ffffff;
  z-index: 1;
  position: relative; }

body {
  font-family: 'Lato', sans-serif; }

section {
  z-index: 2;
  position: relative; }

.nom, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1, .i_products .i_products_container, .i_products .i_products_container .i_products, .i_contact .i_contact_container, .pe_header, .pe_header .pe_header_container, .pe_header .pe_header_container .pe_header_bg {
  margin: 0 !important; }

.nop, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1, .i_products .i_products_container, .i_products .i_products_container .i_products, .i_contact .i_contact_container, .pe_header, .pe_header .pe_header_container, .pe_header .pe_header_container .pe_header_bg {
  padding: 0 !important; }

.tole, .wrapper, html, body, section, .background_image_container, .background_image_container img {
  top: 0 !important;
  left: 0 !important; }

.fullw, .full_size, .background_image_container, .background_image_container img, .slider_list_container, .slider_dots_container, .image, .add_product_form input, .add_product_form .short_description, .add_product_form .long_description, .admin_list_container {
  width: 100% !important; }

.fullh, .full_size, .background_image_container, .background_image_container img {
  height: 100% !important; }

.center_vertically_css {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.center_horizontally_css {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.center_css {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%); }

.slider_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order {
  position: absolute;
  bottom: 2.5vw; }
  .slider_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order p {
    color: transparent;
    background-color: transparent;
    height: 12vh;
    width: 17vw;
    margin-bottom: -0.1vh;
    text-align: center;
    padding: 1vw;
    font-size: 1vw; }
  .slider_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order button {
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    width: 12vw;
    height: 4.5vh; }
  .slider_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr:hover p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order:hover p {
    color: #ffffff;
    background: rgba(21, 54, 255, 0.8);
    transition: 1s; }
  .slider_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr:hover button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order:hover button {
    background: #1536ff;
    border: 0;
    transition: 0.5s; }

.p_prod_head {
  background: #1e1e1e;
  height: 100vh; }
  .p_prod_head .p_prod_head_container {
    height: 100vh; }
    .p_prod_head .p_prod_head_container .p_prod_head_bg {
      z-index: 99;
      height: 100vh;
      width: 100%; }
      .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_text {
        text-align: center;
        margin-top: 20vh;
        color: #ffffff; }
        .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_text h1 {
          font-size: 4.5vw;
          font-weight: 400; }
        .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_text h2 {
          font-size: 3.5vw;
          font-weight: 400; }
      .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr {
        margin-left: 3.5vw;
        margin-bottom: 2vw; }
      .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order {
        right: 0;
        margin-right: 3.5vw;
        margin-bottom: 2vw; }
      .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_img {
        position: absolute;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 100;
        bottom: -13vh; }
        .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_img img {
          height: 50vh;
          width: 50vh; }

.p_info {
  background: #e6e6e6;
  height: 100vh; }

.wrapper, html, body {
  background: #ffffff;
  z-index: 1;
  position: relative; }

body {
  font-family: 'Lato', sans-serif; }

section {
  z-index: 2;
  position: relative; }

.nom, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1, .i_products .i_products_container, .i_products .i_products_container .i_products, .i_contact .i_contact_container, .pe_header, .pe_header .pe_header_container, .pe_header .pe_header_container .pe_header_bg {
  margin: 0 !important; }

.nop, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1, .i_products .i_products_container, .i_products .i_products_container .i_products, .i_contact .i_contact_container, .pe_header, .pe_header .pe_header_container, .pe_header .pe_header_container .pe_header_bg {
  padding: 0 !important; }

.tole, .wrapper, html, body, section, .background_image_container, .background_image_container img {
  top: 0 !important;
  left: 0 !important; }

.fullw, .full_size, .background_image_container, .background_image_container img, .slider_list_container, .slider_dots_container, .image, .add_product_form input, .add_product_form .short_description, .add_product_form .long_description, .admin_list_container {
  width: 100% !important; }

.fullh, .full_size, .background_image_container, .background_image_container img {
  height: 100% !important; }

.center_vertically_css {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.center_horizontally_css {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.center_css {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%); }

.slider_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order {
  position: absolute;
  bottom: 2.5vw; }
  .slider_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order p {
    color: transparent;
    background-color: transparent;
    height: 12vh;
    width: 17vw;
    margin-bottom: -0.1vh;
    text-align: center;
    padding: 1vw;
    font-size: 1vw; }
  .slider_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order button {
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    width: 12vw;
    height: 4.5vh; }
  .slider_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr:hover p, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order:hover p {
    color: #ffffff;
    background: rgba(21, 54, 255, 0.8);
    transition: 1s; }
  .slider_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_broschyr:hover button, .p_prod_head .p_prod_head_container .p_prod_head_bg .p_prod_head_btn_order:hover button {
    background: #1536ff;
    border: 0;
    transition: 0.5s; }

.pe_header {
  height: 100vh;
  background: #1e1e1e; }
  .pe_header .pe_header_container {
    height: 100vh;
    background: url("../../img/product/bg.jpg") no-repeat fixed;
    background-size: 100vw 100vh; }
    .pe_header .pe_header_container .pe_header_bg {
      position: absolute;
      height: 100vh;
      width: 100%;
      background: rgba(30, 30, 30, 0.3);
      z-index: 99; }
    .pe_header .pe_header_container .pe_header_text {
      position: absolute;
      z-index: 100;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-left: 2vw; }
      .pe_header .pe_header_container .pe_header_text h1 {
        color: #ffffff;
        font-size: 3.5vw; }
      .pe_header .pe_header_container .pe_header_text p {
        color: #ffffff;
        font-size: 1.6vw; }

.pe_prod {
  min-height: 100vh;
  background: #ffffff; }
  .pe_prod .pe_prod_container {
    min-height: 100vh; }

.template, .always_hidden {
  display: none; }

.change_password_form {
  margin-left: 10vw !important; }

.admin_message {
  text-align: center;
  text-decoration: underline; }

.admin_header {
  margin-top: 10vh;
  text-align: center;
  font-size: 2vw; }

.admin_header2 {
  margin-top: 1vh;
  text-align: center;
  font-size: 1.5vh; }

.products_type {
  margin-top: 10%;
  font-size: 2vw;
  text-align: center; }

.admin_product {
  margin-top: 10%;
  background: #0080CF;
  height: 35vh;
  margin-bottom: 5%;
  padding: 0 !important;
  /* Delete and edit buttons */ }
  .admin_product h1 {
    text-align: center;
    margin-top: 3%;
    font-size: 2vw; }
  .admin_product a {
    color: black !important; }
  .admin_product .product_button {
    display: block;
    width: 25%;
    height: 15%;
    position: absolute;
    bottom: 5%;
    background: white;
    padding: 0;
    text-align: center;
    color: #003057;
    cursor: pointer; }
  .admin_product img {
    max-width: 90%;
    height: 50%; }

.product_edit_button {
  left: 6.25%; }

.product_show_button {
  left: 37.5%; }

.product_delete_button {
  left: 68.75%; }

.add_product_button {
  text-align: center;
  display: block;
  width: 20%;
  text-decoration: none;
  color: white;
  font-size: 1vw;
  cursor: pointer;
  background: grey;
  margin-top: 5%;
  padding: 1%;
  margin-bottom: 5%; }

/* Admin form to add a new product*/
.add_product_form {
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 10%; }
  .add_product_form h1 {
    text-align: center;
    font-size: 2vw;
    margin-top: 9%; }
  .add_product_form select {
    width: 70%;
    margin-left: 15%; }
  .add_product_form .short_description, .add_product_form .long_description {
    height: 5vh;
    resize: none; }
  .add_product_form .long_description {
    height: 45vh; }

.admin_list_container h1 {
  margin-top: 5%; }

/* Container for the key features list on the admin page */
.admin_list_container {
  background: white;
  padding: 10px 0;
  margin-top: 5%;
  overflow: auto; }

/* Container for a single row in an admin list*/
.admin_list_item {
  margin-top: 5%;
  width: 100%; }
  .admin_list_item p {
    margin-left: 10%;
    display: block;
    float: left; }

/* an item in the list of slider images */
.image_list_item {
  height: 20vh;
  border-bottom: 2px solid black;
  border-top: 2px solid black; }
  .image_list_item input {
    margin-left: 5% !important;
    width: 35% !important;
    float: left; }
  .image_list_item p {
    margin-left: 5% !important; }

/* Preview for image in slider list editor */
.list_preview_image {
  width: 10%;
  max-height: 90%;
  margin-left: 2%; }

.image_select_container {
  height: 20vh;
  border: black solid 1px; }
  .image_select_container input {
    width: 35% !important;
    float: left;
    margin-left: 5%; }
  .image_select_container p {
    display: block;
    float: left;
    margin-left: 10%; }

/* Button to add a new row to an admin list*/
.add_item {
  width: 20%;
  height: 5vh;
  line-height: 5vh;
  margin-left: 40%;
  background: grey;
  text-align: center;
  color: white;
  margin-top: 5%;
  font-size: 0.8vw;
  cursor: pointer;
  float: left; }

/* The cross to remove an item from an admin list*/
.remove_item {
  width: 4%;
  margin-right: 4%;
  cursor: pointer;
  vertical-align: baseline !important; }

.admin_list_item input {
  float: left; }

/* The inputs in the tech_table and the key_features need to have different width*/
.admin_key_features_list input {
  width: 80% !important;
  margin-left: 10%; }

/* This one is slightly smaller cause there are gonna be two next to eachother*/
.admin_tech_list input {
  width: 35% !important;
  margin-left: 10%; }

.login {
  margin-top: 5vh;
  margin-left: 20vw;
  font-size: 1vw;
  display: inline-flex; }
  .login p {
    font-weight: 600;
    font-size: 1.6vw;
    margin-right: 1vw;
    vertical-align: middle; }
  .login input {
    font-weight: 600; }
