@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900i);
.wrapper, html, body {
  background: #212121;
  z-index: 1;
  position: relative; }

body {
  font-family: 'Lato', sans-serif; }

section {
  z-index: 2;
  position: relative; }

.nom, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1 {
  margin: 0 !important; }

.nop, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1 {
  padding: 0 !important; }

.tole, .wrapper, html, body, section {
  top: 0 !important;
  left: 0 !important; }

.fullw, .full_size {
  width: 100% !important; }

.fullh, .full_size {
  height: 100% !important; }

.center_vertically_css {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.center_horizontally_css {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.center_css {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%); }

.slider_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn {
  position: absolute;
  bottom: 2.5vw; }
  .slider_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn p {
    color: transparent;
    background-color: transparent;
    height: 12vh;
    width: 17vw;
    margin-bottom: -0.1vh;
    text-align: center;
    padding: 1vw;
    font-size: 1vw; }
  .slider_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn button {
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    width: 12vw;
    height: 4.5vh; }
  .slider_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover p {
    color: #ffffff;
    background: rgba(21, 54, 255, 0.8);
    transition: 1s; }
  .slider_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover button {
    background: #1536ff;
    border: 0;
    transition: 0.5s; }

.wrapper, html, body {
  background: #212121;
  z-index: 1;
  position: relative; }

body {
  font-family: 'Lato', sans-serif; }

section {
  z-index: 2;
  position: relative; }

.nom, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1 {
  margin: 0 !important; }

.nop, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1 {
  padding: 0 !important; }

.tole, .wrapper, html, body, section {
  top: 0 !important;
  left: 0 !important; }

.fullw, .full_size {
  width: 100% !important; }

.fullh, .full_size {
  height: 100% !important; }

.center_vertically_css {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.center_horizontally_css {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.center_css {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%); }

.slider_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn {
  position: absolute;
  bottom: 2.5vw; }
  .slider_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn p {
    color: transparent;
    background-color: transparent;
    height: 12vh;
    width: 17vw;
    margin-bottom: -0.1vh;
    text-align: center;
    padding: 1vw;
    font-size: 1vw; }
  .slider_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn button {
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    width: 12vw;
    height: 4.5vh; }
  .slider_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover p {
    color: #ffffff;
    background: rgba(21, 54, 255, 0.8);
    transition: 1s; }
  .slider_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover button {
    background: #1536ff;
    border: 0;
    transition: 0.5s; }

.wrapper, html, body {
  background: #212121;
  z-index: 1;
  position: relative; }

body {
  font-family: 'Lato', sans-serif; }

section {
  z-index: 2;
  position: relative; }

.nom, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1 {
  margin: 0 !important; }

.nop, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1 {
  padding: 0 !important; }

.tole, .wrapper, html, body, section {
  top: 0 !important;
  left: 0 !important; }

.fullw, .full_size {
  width: 100% !important; }

.fullh, .full_size {
  height: 100% !important; }

.center_vertically_css {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.center_horizontally_css {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.center_css {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%); }

.slider_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn {
  position: absolute;
  bottom: 2.5vw; }
  .slider_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn p {
    color: transparent;
    background-color: transparent;
    height: 12vh;
    width: 17vw;
    margin-bottom: -0.1vh;
    text-align: center;
    padding: 1vw;
    font-size: 1vw; }
  .slider_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn button {
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    width: 12vw;
    height: 4.5vh; }
  .slider_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover p {
    color: #ffffff;
    background: rgba(21, 54, 255, 0.8);
    transition: 1s; }
  .slider_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover button {
    background: #1536ff;
    border: 0;
    transition: 0.5s; }

.nav_d {
  right: 0;
  top: 0;
  background: #2b2b2b;
  color: #ffffff;
  position: fixed;
  height: 100vh;
  z-index: 10000; }
  .nav_d .nav_d_container .nav_cart {
    display: flex; }
    .nav_d .nav_d_container .nav_cart i {
      font-size: 10vw; }
  .nav_d .nav_d_container .nav_d_link {
    float: right; }
    .nav_d .nav_d_container .nav_d_link a {
      display: block;
      margin-right: 1.2vw;
      color: #c3c3c3;
      font-size: 1.1vw; }
      .nav_d .nav_d_container .nav_d_link a:hover {
        color: white;
        text-decoration: none; }
      .nav_d .nav_d_container .nav_d_link a:active {
        color: #ffffff; }

::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.5);
  width: 10px; }

::-webkit-scrollbar-track {
  webkit-box-shadow: inset 0 0 5px black;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5); }

.wrapper, html, body {
  background: #212121;
  z-index: 1;
  position: relative; }

body {
  font-family: 'Lato', sans-serif; }

section {
  z-index: 2;
  position: relative; }

.nom, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1 {
  margin: 0 !important; }

.nop, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1 {
  padding: 0 !important; }

.tole, .wrapper, html, body, section {
  top: 0 !important;
  left: 0 !important; }

.fullw, .full_size {
  width: 100% !important; }

.fullh, .full_size {
  height: 100% !important; }

.center_vertically_css {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.center_horizontally_css {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.center_css {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%); }

.slider_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn {
  position: absolute;
  bottom: 2.5vw; }
  .slider_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn p {
    color: transparent;
    background-color: transparent;
    height: 12vh;
    width: 17vw;
    margin-bottom: -0.1vh;
    text-align: center;
    padding: 1vw;
    font-size: 1vw; }
  .slider_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn button {
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    width: 12vw;
    height: 4.5vh; }
  .slider_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover p {
    color: #ffffff;
    background: rgba(21, 54, 255, 0.8);
    transition: 1s; }
  .slider_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover button {
    background: #1536ff;
    border: 0;
    transition: 0.5s; }

.i_header {
  height: 100vh;
  z-index: 4;
  background: #1e1e1e; }
  .i_header .i_header_container {
    height: 100vh; }
    .i_header .i_header_container .i_header_slider {
      height: 100vh; }
      .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container {
        height: 100vh; }
        .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left {
          height: 100vh;
          background: #b0b0b0; }
          .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn {
            left: 5vw; }
        .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right {
          height: 100vh;
          background: #c2c2c2; }
          .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn {
            right: 5vw; }

.i_info {
  min-height: 50vh;
  background: #3c3c3c; }
  .i_info .i_info_container {
    text-align: center; }
    .i_info .i_info_container h2 {
      color: #ffffff;
      font-size: 3vw;
      font-weight: 400;
      margin-top: 8vh; }
    .i_info .i_info_container p {
      color: #ffffff;
      vertical-align: middle;
      font-size: 1.5vw;
      font-weight: 200; }
    .i_info .i_info_container a {
      margin-top: 5vh; }

.i_products {
  min-height: 100vh;
  background: red; }

.i_contact {
  min-height: 50vh; }
  .i_contact .i_contact_container img {
    border-radius: 50%;
    margin-top: 10vh; }
  .i_contact .i_contact_container .i_contact_text {
    color: #ffffff;
    text-align: center;
    margin-bottom: 10vh; }
    .i_contact .i_contact_container .i_contact_text h2 {
      font-size: 2.3vw;
      font-weight: 600; }
    .i_contact .i_contact_container .i_contact_text p {
      font-size: 1.5vw;
      font-weight: 100; }

.wrapper, html, body {
  background: #212121;
  z-index: 1;
  position: relative; }

body {
  font-family: 'Lato', sans-serif; }

section {
  z-index: 2;
  position: relative; }

.nom, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1 {
  margin: 0 !important; }

.nop, .nopm, .wrapper, html, body, section, .i_header, .i_header .i_header_container, .i_header .i_header_container .i_header_slider .i_slider_1 {
  padding: 0 !important; }

.tole, .wrapper, html, body, section {
  top: 0 !important;
  left: 0 !important; }

.fullw, .full_size {
  width: 100% !important; }

.fullh, .full_size {
  height: 100% !important; }

.center_vertically_css {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.center_horizontally_css {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.center_css {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%); }

.slider_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn {
  position: absolute;
  bottom: 2.5vw; }
  .slider_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn p {
    color: transparent;
    background-color: transparent;
    height: 12vh;
    width: 17vw;
    margin-bottom: -0.1vh;
    text-align: center;
    padding: 1vw;
    font-size: 1vw; }
  .slider_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn button {
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    width: 12vw;
    height: 4.5vh; }
  .slider_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover p, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover p {
    color: #ffffff;
    background: rgba(21, 54, 255, 0.8);
    transition: 1s; }
  .slider_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_left .i_slider_1_left_btn:hover button, .i_header .i_header_container .i_header_slider .i_slider_1 .i_slider_1_container .i_slider_1_right .i_slider_1_right_btn:hover button {
    background: #1536ff;
    border: 0;
    transition: 0.5s; }
