@import "../everything";
@import "../views/bg_slider";

//product header
.p_prod_head{
  height: 100vh;
  @extend .nopm;

  .p_prod_head_container{
    height:100vh;
    width: 100%;
    @extend .nopm;

    .p_prod_slider_container{
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      height:100vh;
      width: 100%;
      filter:blur(4px);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .p_prod_head_bg{
      z-index: 51 !important;
      height:100vh;
      width:100%;
      position: absolute;
      background: rgba($color5, 0.15);

      .p_prod_head_text{
        text-align: center;
        margin-top:30vh;
        color: $white;

        h1{
          font-size: 7vw;
          font-weight: 600;
        }

        h2{
          font-size: 5vw;
          font-weight: 400;
        }
      }

      .p_prod_head_btn_broschyr{
        @include horizontal-align($pos:absolute);
        border: 2px solid white;
        color: white;
        background: rgba(0,0,0, 0.35);
        text-align: center;
        text-decoration: none;
        font-size: 5vw;
        margin-top:5vh;
        width: 50vw;
        height: 8vh;
        &:hover{
          background: $color1;
          border: 0;
          transition: 0.5s;
        }
      }

      .p_prod_head_btn_order{
        @extend .p_prod_head_btn_broschyr;
        margin-top:15vh !important;
      }

      .p_prod_head_img{
        position: absolute;
        @include horizontal-align($pos: absolute);
        z-index: 100;
        bottom:-13vh;

        img{
          height: 50vh;
          width: 50vh;
        }
      }
    }
  }
}

//info about product
.p_info{
  background: $color4;
  min-height: 100vh;

  .p_info_container{
    height:150vh;
    width: 100vw;

    .p_info_text {
      color: $white;
      margin-top:20vh;

      h1{
        font-size: 6vw;
        font-weight: 500;
      }

      h3{
        font-size: 4vw;
        font-weight: 500;
      }

      p{
        font-size: 3.8vw;
        font-weight: 300;
      }
    }

    .p_info_img{
      margin-top:5vh;
      max-height:30%;

      img{
        @include horizontal-align();
        height:70%;
      }
    }
  }
}

//Slider page
.p_slider{
  height: 100vh;
  @extend .nopm;

  .p_slider_container{
    height:100vh;
    @extend .nopm;

    div{
      padding:0!important;
    }

    .p_slider_image{
      width:100%; height:100%; padding:0 !important; } } }

//Info
.p_info2{
  background: $color4;
  min-height: 50vh;
  @extend .nopm;

  .p_info2_container{

    .p_info2_text{
      position: absolute;
      @include vertical-align($pos:absolute);
      color: $white;
      margin-top:-5vh;
      margin-bottom:5vh;

      h1{
        font-size: 6vw;
        text-align: center;
        font-weight: 600;
      }

      p{
        text-align: center;
        font-size: 4vw;
        font-weight: 300;
      }
    }

    .p_info2_btn{
      @extend .slider_btn;
      @include horizontal-align($pos:absolute);
      margin-top:10vh;
      margin-bottom:5vh;

      button{
        height:10vh !important;
        font-size: 3vw !important;
      }
    }
  }
}

//desktop size
@media (min-width: $screen-md-min) {
  .p_prod_head {
    .p_prod_head_container {
      .slideshow {
        @extend .nopm;
        z-index: 50;
        height: 100vh;
        width: 100%;
        filter: blur(4px);
      }
      .p_prod_head_bg {
        .p_prod_head_text {
          h1 {
            font-size: 5vw;
          }
          h2 {
            font-size: 3.5vw;
          }

        }
        .p_prod_head_btn_broschyr {
          font-size: 1.2vw;
          height: 5vh;
          width: 12vw;
          left: 10vw;
          bottom: 4.5vh;
        }
        .p_prod_head_btn_order {
          left: 88%;
        }

        .p_prod_head_img {

        }
      }
    }
  }

  .p_info {
    height: 100vh;
    .p_info_container {
      height: 100vh;

      .p_info_text {
        margin-top:0;
        @include vertical-align();
        h1{
          font-size: 3vw;
        }
        h3 {
          font-size: 1.3vw;
        }
        p {
          font-size: 1.2vw;
        }
      }

      .p_info_img {
        margin-top:0;
        max-height: 90%;
        @include vertical-align();
        img {
            max-height:100%;
            width:100%;
        }
      }
    }
  }

  .p_info2{
    .p_info2_container{
      .p_info2_text{
        h1{
          font-size: 4vw;
        }

        p{
          font-size: 2vw;
        }
      }

      .p_info2_btn{
        top:25vh;

        button{
          font-size: 1.2vw !important;
        }
      }
    }
  }
}
