@import "../everything";

.nav_d{
  right:0;
  top:0;
  background: $color3;
  color: $white;
  position: fixed;
  height: 100vh;
  z-index: 10000;
  .nav_d_container{
    //cart icon
    .nav_cart{
      display: flex;
      i{
        font-size: 10vw;
      }
      p{
      }
    }

    //Logo
    .nav_d_logo{
      position: absolute;
      @include vertical-align($position:absolut);
      height: 15vh;
      width: 15vh;
      background: #000;
      margin-left:-4vw;
      a{
        img{

        }
      }
    }

    //links
    .nav_d_link{
      position: absolute;
      right:0;
      text-align:right;
      @include vertical-align($position:absolut);
      a{
        display: block;
        margin-right:1.2vw;
        color: $color2;
        font-size: 1.2vw;
        &:hover{
          color: $color2*1.5;
          text-decoration: none;
        }
        &:active{
          color: $white;
        }
      }
    }
  }
}
