@import "../everything";

.media_even {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20000;
    background: rgba($color5, 0.4);

    .media_even_container {
        @include center-align($pos: absolute);
        height: 90%;
        width: 80%;
        background: white;
        border-radius: 3%;

        .media_even_close{
            height: 3vw;
            width: 3vw;
            position: absolute;
            top: 1vh;
            right: 1vw;
            cursor: pointer;
        }

        .media_even_container_container {
            margin-left:10%;
            margin-top:1%;
            width: 80%;
            height: 90%;
            overflow: scroll;

            iframe {
                min-height:60vh;
            }
            img, iframe {
                width: 100%;
                max-height:70vh;
            }

            h1 {
                text-align:center;
                font-size:3vw;
            }

            p {
                margin-top:2vh;
                font-size: 1.2vw;
            }
        }
    }
}
