@import "mixin";
@import "variabels";

//wrapper styling
.wrapper {
  @extend .nopm;
  @extend .tole;
  background: white;
  z-index: 1;
  position: relative;
}

//html styling
html {
  overflow-x:hidden;
  @extend .wrapper;
}

//boody styling
body {
  @extend .wrapper;
  font-family: 'Lato', sans-serif;
}

//section style
section {
  @extend .nopm;
  @extend .tole;
  z-index: 2;
  position: relative;
  overflow-x:hidden;
}

//no margin
.nom{
  margin: $no;
}

//no padding
.nop{
  padding: $no;
}

//no padding no margin
.nopm {
  @extend .nop;
  @extend .nom;
}

//top left
.tole {
  top: $no;
  left: $no;
}

//full with
.fullw{ width: $full !important; }
//full height
.fullh{
  height: $full !important;
}

//full height and full with combined
.full_size{
  @extend .fullh;
  @extend .fullw;
}

.center_vertically_css {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// Center horizonatally css
.center_horizontally_css {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

// Center css
.center_css {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  visibility:hidden;
}

.button {
  border: 2px solid $white;
  color: $white;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  font-size: 1.2vw;
  &:hover{
    background: $color1;
    border: 0;
    transition: 0.5s;
  }
}

#desktop_check {
  position:fixed;
  width:0;
  height:0;
  color:transparent;
}

.slide-in {
  display:none;
}

.text-effect {
  display:none;
}

//index header slider btn
.slider_btn{
  position: absolute;
  bottom: 2.5vw;

  p{
    color: transparent;
    background-color: transparent;
    height: 12vh;
    width: 17vw;
    margin-bottom:-0.1vh;
    text-align: center;
    padding: 1vw;
    font-size: 1vw;
  }

  button{
    border: 2px solid $white;
    color: $white;
    background: rgba($color5, 0.25);
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    padding: 1vh;
  }
  &:hover{

    p{
      color: $white;
      background: rgba(21,54,255,0.8);
      transition: 1s;
    }

    button{
      background: $color1;
      border: 0;
      transition: 0.5s;
    }
  }
}
