@import "../../everything";

//media section
.i_media{
  height:200vh;

  .i_media_container{
    height: 100%;
    margin:auto;
  }
  .i_grid_item{
      height:100px;
      width:100px;
      background:blue;
  }
}

//tablet size
@media (min-width: $screen-sm-min) {
}

//desktop size
@media (min-width: $screen-md-min) {
}
