@import "../../everything";

.i_info2{
  background: $color3;
  .i_info2_container{
    .i_info2_text_container{
      margin-top:10vh;
      margin-bottom:10vh;
      color: white;
      text-align: center;
      h1{
        font-size: 6vw;
        font-weight: 600;
      }
      p{
        margin-top:5vh;
        font-size: 3vw;
        font-weight: 300;
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .i_info2{
    .i_info2_container{
      .i_info2_text_container{
        h1{
          font-size: 4vw;
        }

        p{
          font-size: 1.5vw;
        }
      }
    }
  }
}