@import "../../everything";

.i_event {
  background: $color4;
  @extend .nopm;

  .i_event_container {
    @extend .nopm;
    padding-bottom: 20vh;

    h1 {
      text-align: center;
      font-size: 4vw;
      font-weight: 600;
      background: $color5;
      width: 100%;
      color: white;
      padding: 5vh;
    }

    .i_event_event_container {
      padding-bottom: 5vh;

      .i_event_img {

        img {
          height: auto;
          width: 100%;
          margin-top: 5vh;
          margin-bottom: 5vh;
        }
      }

      .i_event_text {
        margin-top: 5vh;
        color: white;

        .i_event_header {
          font-size: 7.5vw;
          font-weight: 600;
        }

        .i_event_date {
          font-size: 3.5vw;
          font-weight: 400;
          font-style: italic;
        }

        .i_event_info {
          font-size: 3.3vw;
        }
      }
    }
  }
}

@media (max-width: $screen-sm-min) and (orientation: landscape) {
  .i_event_text {
    .i_event_header {
      font-size: 3.5vw;
    }

    .i_event_date {
      font-size: 1.8vw;
    }

    .i_event_info {
      font-size: 1.3vw;
    }
  }
}

@media (min-width: $screen-md-min) {
  .i_event {
    .i_event_container {
      h1 {

      }
      .i_event_event_container {
        .i_event_img {
          img {
            width: 80%;
          }
        }
        .i_event_text {
          .i_event_header {
            font-size: 3.5vw;
          }

          .i_event_date {
            font-size: 1.8vw;
          }

          .i_event_info {
            font-size: 1.3vw;
          }
        }
      }
    }
  }
}